<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <style>
        *{
        color: purple;
        }
    </style>
</head>
<body>
    <h1>To-Do list</h1>
    <a href="/articles/add">+ Add Task</a>
    <hr>
    {% for article in articles %}
        <h2>Description - {{ article.description }}</h2>
        <h2>Status - {{ article.status }}</h2>
        <h2>Deadline - {{ article.deadline|default_if_none:"" }}</h2>
        <hr>
    {% endfor %}
</body>
</html>

