{% extends 'base.html' %}

{% block title %}
Task
{% endblock %}

{% block content %}
      <main role="main" class="inner cover">
        <p class="lead">
          <h2>Task: {{ task.title }}</h2>
          <h2>Status:
                {% for choice in choices %}
                    {% if task.status == choice.0 %}
                        {{ choice.1 }}
                    {% endif %}
                {% endfor %}
          </h2>
          <h2>Deadline: {{ task.deadline|default_if_none:"" }}</h2>
          <h2>Description: {{ task.description | linebreaks }}</h2>
          <a class="mx-2" href="{% url 'todo_update' task.pk %}">Edit</a>
          <a class="mx-2" href="{% url 'delete' task.pk %}">Delete</a>
          <hr>
      </main>

{% endblock %}
