<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <title>Create Article</title>
</head>
<body>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">To-Do List</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Main Page</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <p class="lead">
            <form action="/todo_list/add/" method="POST">
        {% csrf_token %}
        <div class="form">
            <div class="form_row">
                <lable for="description">Description: </lable>
                <input id ="description" name ="description" type = "text">
            </div>
            <div class="form_row">
                <label>Status</label>
                    <select name="status" class="form-control">
                        <option value="Новая">Новая</option>
                        <option value="В процессе">В процессе</option>
                        <option value="Сделано">Сделано</option>
                    </select>
            </div>
            <div class="form_row">
                <lable for="deadline">Deadline: </lable>
                <input class="deadline" id ="deadline" name ="deadline" type = "text">
            </div>
            <div class="form_row">
                <input type="submit">
            </div>
        </div>
    </form>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Kurentaev Adlet <a href="/">Contacts</a></p>
        </div>
      </footer>
    </div>

</body>
</html>